@mixin big-btn($color) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb($color);
  border-radius: 0.6rem;
  cursor: pointer;
}

.big-btn-pink {
  @include big-btn(var(--color-primary-pink));
}

.big-btn-disable {
  @include big-btn(var(--color-pale-gray));
  cursor: default;
}

.save-btn-wrapper {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  border-radius: 100vh;
  background-image: var(--gradient-main);
  position: relative;
}

.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: rgb(var(--color-white));
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
